:root{
    --primary-color: #ffe4c49f;
    /* 
        This will change color based on if the temp 
        will be the blue that I had if is less than 55
        will be this color if hot
        heading will be primary color before searching then switch accordingly
     */
    --secondary-color-warm: #ff8c009f;
    --secondary-color-cold: #4e8cf73a;
    --box-shadow-styling:#959da533 0px 8px 24px;
}

body {
    padding:0;
    margin: 0;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:floralwhite;
    
}

#header-container {
    text-align: center;
    background-color: var(--secondary-color-warm);
    height: 4rem;
}

#title{
    font-size: 3rem;
}

#header-icon{
    height: 3rem;
}

#all-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

#search-content-container {
    margin-right: 1rem;
}

#search-history-container{
    display:flex;
    flex-direction: column;
}

#new-city-search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-input{
    height: 2rem;
    margin: 1rem;
    box-shadow: var(--box-shadow-styling);
}

#search-prompt{
    text-align: center;
}

#search-history-title{
    align-self: center;
}

#city-buttons{
    display: flex;
    flex-direction: column;
}

#clear-history{
    align-self: center;
}

#clear-history:hover{
    color:var(--primary-color);
}

.btn{
    background-color: var(--primary-color);
    margin: 1rem;
    color: black;
    box-shadow: var(--box-shadow-styling);
}

.btn:hover {
    background-color: black;
    color: var(--primary-color);
}

#weather-info-container{
    width:80vw;
}

#current-weather-container{
    display: flex;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow-styling);
}

#primary-current-weather-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    flex-grow: 3;
}

#current-weather-icon {
    height: 10rem;
    width:  10rem;
}

#secondary-current-weather-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-warm);
    flex-grow: 1;
}

#uv-index{
    border-radius: 5px;
    padding: 0.2rem;
}

#forecasted-weather-container {
    display: flex;
    justify-content: space-evenly;
}

.days-out{
    padding:2rem;
    box-shadow: var(--box-shadow-styling);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color-warm);
    background-image: radial-gradient(circle, var(--primary-color) 30%, var(--secondary-color-warm) 90%);
    #forecasted-weather-container {
    display: flex;
    justify-content: space-evenly;
}
}

.hidden {
    display: none;
}
/* Laptop styles */
@media screen and (max-width: 1030px) {

    #all-content-container{
        display: block;
    }

    #search-content-container {
        margin-right: 0;
    }

    #search-prompt{
        text-align: center;
    }

    #weather-info-container{
        margin: 0rem;
    }

    #current-weather-container{
        margin: 1rem;
    }

    #forecasted-weather-container {
        margin: 2rem;
    }
}
/* Tablet styles */
@media screen and (max-width: 760px) {
    #all-content-container{
        margin: 0;
    }

    #header-container {
        height: 8rem;
        margin-bottom: 1rem;
    }

    #title{
        font-size: 2rem;
    }

    #header-icon {
        height: 2rem;
    }

    #weather-info-container{
        margin: auto;
    }
    
    #current-weather-container, #forecasted-weather-container {
        display: block;
        margin: 1rem 0 1rem 0;
    }

    .days-out{
        margin-bottom: 1rem;
    }
}
/* Phone styles */
@media screen and (max-width: 200px) {
    body {
        display: none;
    }
}