:root{
    --purple-color: rgb(245, 65, 239);
}

/* Styling for header icons */
#header-container{
    background-image: linear-gradient(.25turn, lightgreen, green, yellow, orange, red, var(--purple-color), white);
    text-align: center;
}

#header-icon{
    height: 60px;
}


.item1 { grid-area: menu; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'menu main main main right right'
        'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}